:root {
    --teamStatusSize: 20px;
    --templateWindowSize: 150px;
}

html, body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    width: 100%;
    height: 100%;
    margin: 0;
}

div.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*範例區*/
#templates {
    float: right;
    overflow: auto;
    background-color: rgb(50, 50, 50);

    width: var(--templateWindowSize);
    height: 100%;
}

.template {
    width: 80%;
    margin: 10%;
}

.template svg {
    width: 100%;
}

.template div {
    font-size: 100%;
    color: lightgray;
}

.templateDisplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.templateDisplay > svg {
    position: absolute;
    opacity: 0.7;
}

/*遊戲區*/
#gamePage {
    overflow: hidden;
    float: left;
    cursor: crosshair;
    position: relative;

    width: calc(100% - var(--templateWindowSize));
    height: calc(100% - var(--teamStatusSize));
}

/*miniMap*/
.miniMap {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: block;
}

.miniMap > canvas {
    border: solid 1px darkgray;
    display: block;
}

.miniMap > .location {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;

    width: 100px;
    color: limegreen;
}

/*team*/
#teamState {
    width: calc(100% - var(--templateWindowSize));
    height: var(--teamStatusSize);
}

#teamState div {
    color: white;
    height: 100%;

    padding: 2px 0;
    box-sizing: border-box;
    float: left;
    font-size: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*UI*/
#start {
    position: fixed;
    left: 1em;
    top: 1em;
}

#next {
    position: fixed;
    left: 5em;
    top: 1em;
}

#count {
    color: limegreen;
    position: fixed;
    left: 1em;
    top: 3em;
}

#calculateTime {
    color: limegreen;
    position: fixed;
    left: 140px;
    top: 10px;
}

#calculateCount {
    color: limegreen;
    position: fixed;
    left: 140px;
    top: 40px;
}

h4 {
    margin: 0;
}